<p>Add files</p>

<table class="table files-list">
  <thead>
    <tr>
      <th>File</th>
      <th>Size</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<input id="token" type="hidden" value="<%= form_authenticity_token %>"> 
<button class="btn btn-primary select-files">Select files</button>
<button class="btn btn-success upload-files">Upload files</button>
<button class="btn btn-danger stop-upload">Stop upload</button>

<%= javascript_include_tag "upload_items.js" %>